## Experiment No.3 : Encoding
### Name : Vighnesh Babasaheb Sankpal.
### Roll No. 10.

###  Import libraries pandas, numpy, sklearn and models Label encoder and One Hot encoder.

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

### Load Iris dataset and find object column

In [2]:
df = pd.read_csv("../datasets/Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2  setosa
1   2            4.9           3.0            1.4           0.2  setosa
2   3            4.7           3.2            1.3           0.2  setosa
3   4            4.6           3.1            1.5           0.2  setosa
4   5            5.0           3.6            1.4           0.2  setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
# In this dataset 'Species' Object type column.

#### Encode 'Species' column by using different encoding techniques.
1.  Simple Encoding
2.  Label encoding
3.  One hot encoding
4.  Get dummies

#### 1. Simple Encoding

In [6]:
df['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [7]:
df['Species']=df['Species'].map({'setosa':0, 'versicolor':1, 'virginica':2})

In [8]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

#### 2. Label Encoding

In [9]:
df = pd.read_csv("../datasets/Iris.csv")

In [10]:
label_enco = LabelEncoder()

In [11]:
df['Species']= label_enco.fit_transform(df['Species'])

In [12]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

#### 3. One Hot Encoding

In [13]:
df = pd.read_csv("../datasets/Iris.csv")

In [14]:
one_hot_encoder = OneHotEncoder(sparse_output=False)

In [15]:
encoded = one_hot_encoder.fit_transform(df[['Species']])

In [16]:
# Concat Data Frame to Main Data

In [17]:
encoded_df = pd.DataFrame(
    data = encoded,
    columns=one_hot_encoder.get_feature_names_out(['Species'])
)

In [18]:
pd.concat([df.drop(['Species'],axis=1),encoded_df],axis=1)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_setosa,Species_versicolor,Species_virginica
0,1,5.1,3.5,1.4,0.2,1.0,0.0,0.0
1,2,4.9,3.0,1.4,0.2,1.0,0.0,0.0
2,3,4.7,3.2,1.3,0.2,1.0,0.0,0.0
3,4,4.6,3.1,1.5,0.2,1.0,0.0,0.0
4,5,5.0,3.6,1.4,0.2,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,0.0,0.0,1.0
146,147,6.3,2.5,5.0,1.9,0.0,0.0,1.0
147,148,6.5,3.0,5.2,2.0,0.0,0.0,1.0
148,149,6.2,3.4,5.4,2.3,0.0,0.0,1.0
149,150,5.9,3.0,5.1,1.8,0.0,0.0,1.0

#### 4. Get dummies

In [19]:
df = pd.read_csv("../datasets/Iris.csv")

In [20]:
species_dummy= pd.get_dummies(df['Species'],drop_first=True,dtype=int)

In [21]:
df= df.drop(['Species'],axis=1)

In [22]:
pd.concat([df,species_dummy],axis=1)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,versicolor,virginica
0,1,5.1,3.5,1.4,0.2,0,0
1,2,4.9,3.0,1.4,0.2,0,0
2,3,4.7,3.2,1.3,0.2,0,0
3,4,4.6,3.1,1.5,0.2,0,0
4,5,5.0,3.6,1.4,0.2,0,0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,0,1
146,147,6.3,2.5,5.0,1.9,0,1
147,148,6.5,3.0,5.2,2.0,0,1
148,149,6.2,3.4,5.4,2.3,0,1
149,150,5.9,3.0,5.1,1.8,0,1